<footer class="admin-login-footer">
    <p>Copyright FITO 2024. All rights reserved</p>
</footer>

<script src="script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
</body>

</html>