<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="/css/admincss/admin.css">
    <link rel="stylesheet" href="/css/admincss/admindashboard.css">
    <link rel="stylesheet" href="/css/admincss/admincostumers.css">
    <link rel="stylesheet" href="/css/admincss/addProduct.css">
    <link rel="stylesheet" href="/css/admincss/category.css">
    <link rel="stylesheet" href="/css/admincss/productManagement.css">
    <link rel="stylesheet" href="/css/admincss/addCategory.css">
    <link rel="stylesheet" href="/css/admincss/orderManage.css">
    <link rel="stylesheet" href="/css/admincss/salesReport.css">
    <link rel="stylesheet" href="/css/admincss/coupons.css">
    <link rel="stylesheet" href="/css/admincss/addCoupons.css">
    <link rel="stylesheet" href="/css/admincss/offer.css">
    <link rel="stylesheet" href="/css/admincss/addoffer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <header class="admin-login-header">
        <div class="admin-login-logo">
            <span>FIT<span class="admin-login-highlight">O</span></span>
        </div>
        <div class="admin-login-nav">
            <div class="admin-login-search">
                <input type="text" placeholder="search here...">
                <button class="admin-login-search-button"><img src="/images/search.png" style="width: 18px;"
                        alt="Search"></button>
            </div>
            <div class="admin-login-profile">
                <img src="/images/user.png" alt="Profile">
            </div>
        </div>
        <div class="admin-login-nav-toggle" id="navToggle">
            &#9776;
        </div>
    </header>

    <nav class="admin-login-mobile-nav" id="mobileNav">
        <div class="admin-login-search">
            <input type="text" placeholder="search here...">
            <button class="admin-login-search-button"><img src="search-icon.png" alt="Search"></button>
        </div>
        <div class="admin-login-profile">
            <img src="/images/user.png" alt="Profile">
        </div>
    </nav>