<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
        button{
            background-color: rgb(245, 17, 17);
            color: white;
            border-radius: 3rem;
            border-style: none;
        }
        .onetwo{
            position: absolute;
            top:50%;
            left:50%;
        }
        body{
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div class="one">
        <img src="https://i.postimg.cc/SQBCffjV/Screenshot-2024-08-14-013154.png" alt="">
        <div class="onetwo">
         <a href="/"><button>Back to Home</button></a>    
        </div>
       
    </div>
    
</body>
</html>